/* TITRE DE LA PAGE  */

.titre-page{
    color:purple;
    text-align:center;
    
    font-size:45px;
}
/* Titre des sections */
.titre-mediavea,.titre-telmusique{
    color:#EEC0BF;
    font-size: 35px;
    text-align: center;
}

/* MARGE DES SECTIONS */
.titre-mediavea{
    margin-top:3%;
}

.titre-telmusique{
    margin-top: 5%;
}

/* ELEMENTS QUI CORRESPOND AUX IMAGES  */
.site-picture,.picture-mediavea,.picture-telmusique{
    
    /*border-color:red;
    border-style:solid;*/
    width:600px;
    height:600px;
    margin: 0 auto;
    border-style:solid;
    border-color:rgba(0, 0, 255, .2);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    
    
}
/* RESPONSIVE*/
/* Smartphone */
@media screen and (max-width:600px){

    /* TITRE DES SECTIONS */
    .titre-mediavea, .titre-telmusique{
        font-size:32px;
        margin-top:6%;
    }

    /* ELEMENT QUI CORRESPOND AUX IMAGES */
    .site-picture,.picture-mediavea,.picture-telmusique{
        width:380px;
         height:380px;
    }
}

@media screen and (min-width:601px) and (max-width:660px){

    /* TITRE DES SECTIONS */
    .titre-mediavea, .titre-telmusique{
        font-size:35px;
        margin-top:6%;
    }

    /* ELEMENTS QUI CORRESPOND AUX IMAGES */
    .site-picture,.picture-mediavea,.picture-telmusique{
        width:500px;
         height:500px;
    }
}

